/* add your CSS here */
body {
  margin-top: 150px;
  background-color: #f0f0f0;
  color: #3d3d3d;
}

#card {
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  transition: all 0.5s;
  background-color: white;
}

#card:hover {
  box-shadow: 0 0 50px gray;
  margin-top: -10px;
}

#card:hover ~ .call-to-action {
  color: #f0f0f000;
  margin-top: 26px;
}

.name {
  padding-bottom: 10px;
}

.image {
  width: 300px;
  margin-bottom: 10px;
}

.interesting-fact {
  font-style: italic;
}

.information {
  border: 1px solid lightgray;
  padding: 0px 10px;
  background-color: #f9f9f9;
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.list-item-label {
  font-weight: bold;
}

.call-to-action {
  text-align: center;
  transition: all 0.5s;
}
